*{
    font-family: "Lucida Console", "Courier New", monospace;
}

body{
    background-image: linear-gradient(135deg ,black, purple);
}

.card-body{
    padding: 20px;
    font-size: large;
}

form label{
    padding: 20px;
}

form input{
    background-image: linear-gradient(135deg ,black, purple);
    border: 3px solid purple;
    color: white;
}

form button{
    margin-left: 150px;
    border: 3px solid purple;
    background-image: linear-gradient(135deg ,black, purple);
    color: white;
    border-radius: 20px;
    width: 220px;
}

form select{
    background-image: linear-gradient(135deg ,black, purple);
    color: white;
    border: 3px solid purple;
    width: 230px;
    height: 35px;
}

form option{
    background-color: purple;
}

#body-here{
    background-image: linear-gradient(135deg ,black, purple);
}

input, button, section, option, select {
    transition: all 0.3s ease;
}

input:hover {
    background-color: #eef;
    border-color: #557;
}

button:hover {
    background-color: black;
    color: white;
    transform: scale(1.05);
}

section:hover {
    transform: translateY(-4px);
}

select:hover{
    transform: translateY(-4px);
    border-color: #557;
}

.error{
    color: red;
    font-size: large;
    margin-top: 20px;
}

#card-res{
    background-image: linear-gradient(135deg ,black, purple);
    width: 350px;
    margin: 20px;
    color: white;
    text-align: center;
    margin-left: 30px;
    height: 35px;
    padding-top: 5px;
}